.App {
  height: 100vh;
  text-align: center;
}
.map-wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.map-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-wrapper .bus-station{
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #69A3F4;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.map-wrapper .bus-station:hover{
  background: #3870c0;
}
.map-wrapper .bus-station:active{
  background: #5a8fda;
}
.map-wrapper .bus-station img{
  width: 25px;
  height: 17.83px;
}
.sheet-header{
  width: 100%;
  background: none;
  padding-top: 40px;
  padding-bottom: 30px;
}
.sheet-header.transport{
  padding-top: 55px;
}
.sheet-header.transport a{
  margin-top: -2em;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 24px;
}
.sheet-header.transport a img{
  margin: 0;
  margin-right: 5px;
  width: 10px;
}
.sheet-header.transport h1{
  font-size: 24px;
  color: #000000;
  margin: 0;
  text-align: left;
  margin-left: 24px;
  margin-top: 12px;
  display: inline-block;
}
.sheet-header.transport h1.status{
  display: inline-block;
  padding: 5px 30px;
  border-radius: 8px;
  background: #E53030;
  color: #fff;
  font-size: 16px;
  margin-left: 45px;
}
.sheet-header.transport p{
  margin: 0;
  font-size: 12px;
  color: #D6263C;
  max-width:235px;
  margin-left: 24px;
  margin-top: 12px;
  display: block;
  text-align: left;
}
.sheet-header.transport .stat{
  align-self: end;
  font-size: 12px;
  line-height: 130%;
  color: #000000;
  display: flex;
  margin-left: auto;
  margin-right: 24px;
}
.sheet-header.transport img{
  width: 100%;
  margin-top: 12px;
}
.sheet-header.transport .stat a{
  margin: 0;
  font-size: 12px;
  line-height: 130%;
  color: #69A3F4;
  margin: 0 4px;
  text-decoration: underline;
}
.sheet-header h1{
  font-size: 1.5em;
  font-weight: bold;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
.sheet-header p{
  font-size: 1em;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 0 auto;
  margin-top: 14px;
}
.sheet-header p img{
  margin-right: 9px;
  width: 20px;
}
.root-wrapper .MuiBackdrop-root{
  background: none !important;
}
.root-wrapper .sheet-absolute{
  box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: background 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 10;
  transform: translateY(calc(-100% + 40px));
}
.root-wrapper .MuiPaper-elevation{
  z-index: 100;
}
.root-wrapper[aria-hidden="true"] .sheet-absolute{
  transform: translateY(0);
}
.station-page{
  height: 100%;
  overflow-y: scroll;
}
.station-page *{
  display: block;
  text-decoration: none;
}
.station-page ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.station-page li{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 8px 24px;
  display: flex;
  box-sizing: border-box;
}
.station-page li .number-ts{
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 25px;
  box-sizing: border-box;
}
.station-page li .number-ts.bus{
  border: 2px solid #69A3F4;
  color: #69A3F4;
}

.station-page li .number-ts.trolleybus{
  border: 2px solid #C4C4C4;
  color: #C4C4C4;
}
.station-page li .number-ts.tramway{
  border: 2px solid #D6263C;
  color: #D6263C;
}
.station-page li .name-ts{
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.station-page li .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.station-page li .time-ts{
  font-size: 16px;
  color: #67C259;
  margin-top: 8px;
  margin-bottom: 8px;
}
.station-page li .time-ts::after{
  content: 'min';
}
/* .station-page li .time-ts span{
  font-size: 8px;
  color: rgba(0, 0, 0, 0.25);
  margin-right: 4px;
} */
.station-page li .occupancy-ts{
  font-size: 16px;
  line-height: 19px;
  color: #BEBEBE;
}
.station-page li .occupancy-ts span{
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.station-page li .occupancy-ts.high span{
  background: rgba(207, 0, 26, 0.12);
  color: #D6263C;
}
.station-page li .occupancy-ts.low span{
  background: rgba(103, 194, 89, 0.12);
  color: #67C259;
}
.station-page li .occupancy-ts.average span{
  background: rgba(255, 212, 0, 0.12);
  color: #FFD400;
}
.w-100{
  width: 100%;
}
.station-page ul a:not(:first-child){
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}